body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  font-family: 'VT323', monospace;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 30px;
}

.Foto {
  padding-top: 50px;
  display: block;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.Foto img {
  width: 150px;
  height: 200px;
  border-radius: 50px;
  border: 2.5px solid;
}